.App {
  text-align: center;
}

body {
  background-color: purple;
  backgrount-image: url("images/1.jpg")
}
button {
margin-top: 50px;
font-size: 30px;
color: darkgreen;
cursor:pointer;
background:grey;
width: 50;
height: 5;
}
button:hover {
    background-color: yellow;
    color: purple;
    }
   button:active {
    background-color: green;
    color:black;
   }
   
.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
